<div class="btn-toolbar form-inline">
    <a class="btn btn-success" href="#/templates/detail/new">Add <i class="icon-plus"></i></a>
    <div data-layout-change="" data-display="display">
    </div>
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Sort by: <strong>{{ sortLabel }}</strong>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a data-ng-click="predicate = 'name'; reverse=false; sortLabel='Name A-Z'">Name A-Z</a>
                <a data-ng-click="predicate = 'name'; reverse=true; sortLabel='Name Z-A'">Name Z-A</a>
                <a data-ng-click="predicate = 'department'; reverse=false; sortLabel='Department A-Z'">Department A-Z</a>
                <a data-ng-click="predicate = 'department'; reverse=true; sortLabel='Department Z-A'">Department Z-A</a>
                <a data-ng-click="predicate = 'dateCreated'; reverse=false; sortLabel='Date Created'">Date Created</a>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Filter By:
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <!--<div>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-search"></i></span>
                        <input type="text" placeholder="Filter..." />
                    </div>
                </div>-->
                <!--<ul class="collapsible" data-title="Status">
                    <li>
                        <radio-filter list="statuses" filter="filter.status" display="status" value="status" />
                    </li>
                </ul>
                <ul class="collapsible" data-title="Assigned To">
                    <li>
                        <radio-filter list="assignables" filter="filter.assignedTo" />
                    </li>
                </ul>
                <ul class="collapsible" data-title="Team">
                    <li>
                        <radio-filter list="teams" filter="filter.team" />
                    </li>
                </ul>-->
                <ul class="collapsible" data-title="Department">
                    <li>
                        <radio-filter list="departments" filter="filter.department" />
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <input type="text" class="input-xxlarge" placeholder="Type to search..." data-ng-model="query" />
    </div>
</div>
<div data-ng-switch="" data-on="display">
    <table class="table table-striped table-hover table-clickable" data-ng-switch-when="list">
        <thead>
            <tr>
                <th>Template Name</th>
                <th>Description</th>
                <th>Created By</th>
                <th>Saved</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-click="goToDetails(item)" data-ng-repeat="item in templates | employeeFilter:filter | searchFilter:'name':query | orderBy:predicate:reverse">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.createdBy}}</td>
                <td>{{item.dateCreated | date:'MM/dd/yyyy'}}</td>
                <td>{{item.dateModified | date:'MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>

    <div class="span12 tiles" data-ng-switch-when="tiles">
        <div class="tile well tile-list" data-ng-click="goToDetails(item)" data-ng-repeat="item in templates | employeeFilter:filter | searchFilter:'name':query | orderBy:predicate:reverse">
            <ul class="nav nav-list">
                <li>
                    <h4>{{item.name}}</h4>
                </li>
                <li>{{item.description}}</li>
                <li class="divider"></li>
                <li>{{item.tasksCount}} Tasks</li>
                <li class="divider"></li>
            </ul>
            <p>
                <a class="btn btn-success">View Details</a>
            </p>
        </div>
    </div>
</div>
