<div>
    <div class="span8">
        <h4><a data-ng-click="backToList()">Back to Task List</a></h4>
        <div data-ng-class="{'completed':assignment.status==3, 'muted':assignment.status==2}">
            <i data-ng-class="{'icon-edit':assignment.status==1, 'icon-share':assignment.status==2, 'icon-check':assignment.status==3}"></i>
            {{assignment.name}}
            | <i class="icon-calendar"></i>
            {{assignment.dueDate | date:'MM/dd/yy'}}
            <button data-ng-show="assignment.status==1 && conditionsMet()" class="btn btn-success" data-ng-click="complete()">Complete Task</button>
        </div>
        <p>
            <strong>Instructions:</strong>
        </p>
        <p>
            {{assignment.description}}
        </p>
        <div>
            <ul class="inline">
                <li data-ng-repeat="file in queue">
                    <span data-ng-switch="" data-on="!!file.url">
                        <a class="btn" title="{{file.name}}"
                            data-ng-switch-when="true"
                            data-ng-class="{'btn-success': file.isUpload}"
                            data-ng-href="{{file.url}}"
                            data-download="{{file.name}}">Download {{file.name}}</a>
                        <button class="btn" disabled="disabled" data-ng-switch-default="">PENDING: {{file.name}}</button>
                    </span>
                    <div data-ng-show="file.error"><span class="label label-important">Error</span> {{file.error}}</div>
                </li>
            </ul>
        </div>
        <div data-ng-hide="hasUploaded()" class="row-fluid fileupload-buttonbar" data-fileupload="options" data-ng-class="{true: 'fileupload-processing'}[!!processing()]">
            <div class="span7">
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Upload Form</span>
                    <input type="file" name="files[]" multiple />
                </span>
                <button type="button" class="btn btn-primary start" data-ng-click="submit()">
                    <i class="icon-upload icon-white"></i>
                    <span>Start</span>
                </button>
                <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel</span>
                </button>
            </div>
            <div class="span5 fade" data-ng-class="{true: 'in'}[!!active()]">
                <div class="progress progress-success progress-striped active" data-progress="progress()">
                    <div class="bar" data-ng-style="{width: num + '%'}"></div>
                </div>
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div data-ng-show="assignment.requiresSignature">
            <label>Signature Required:</label>
            <input type="text" data-ng-model="signature" />
        </div>
        <hr />
        <ul class="unstyled">
            <li class="muted" data-ng-repeat="item in activity">{{item.dateTime | date:'MM/dd/yy'}} {{item.action}}</li>
        </ul>
    </div>
</div>
