<ul class="dropdown-menu">
    <li data-complex-menu="">
        <div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-search"></i></span>
                <input type="text" placeholder="Filter..." data-ng-model="query" />
            </div>
        </div>
    </li>
    <li>
        <ul class="collapsible" data-title="{{team.name}}" data-ng-repeat="team in assignables | conditional:'isTeam':true">
            <li>
                <label class="checkbox">
                    <input type="checkbox"
                        data-ng-checked="principal.isTeam && principal.id==team.id"
                        data-ng-click="assign(team.id,true)" />
                    (Assign to Team)
                </label>
            </li>
            <li data-ng-repeat="member in assignables | conditional:'teamId':team.id | searchFilter:'name':query ">
                <label class="checkbox">
                    <input type="checkbox"
                        data-ng-click="assign(member.id,false)"
                        data-ng-checked="(principal.isTeam && principal.id==team.id) || principal.id==member.id"
                        data-ng-disabled="principal.isTeam && principal.id==team.id" />
                    {{ member.name }}
                </label>
            </li>
        </ul>
    </li>
    <li class="divider"></li>
    <li>
        <a data-ng-click="assign(undefined,false)">Assign to this Employee</a>
    </li>
</ul>
