<ul>
    <li data-complex-menu="">
        <label>Time Interval</label>
        <select data-ng-model="task.interval">
            <option value="">-- Choose a period --</option>
            <option value="1">{{intervals[1]}}</option>
            <option value="2">{{intervals[2]}}</option>
            <option value="3">{{intervals[3]}}</option>
            <option value="4">{{intervals[4]}}</option>
        </select>
        <label>Type or Choose a Value</label>
        <select data-ng-model="chosenValue" data-ng-disabled="!task.interval">
            <option value="">-- Choose --</option>
            <option value="0">On Date</option>
            <option value="10">10 {{intervals[task.interval]}}</option>
            <option value="15">15 {{intervals[task.interval]}}</option>
            <option value="30">30 {{intervals[task.interval]}}</option>
            <option value="45">45 {{intervals[task.interval]}}</option>
            <option value="60">60 {{intervals[task.interval]}}</option>
            <option value="custom">Add Custom Value</option>
        </select>
        <span data-ng-show="chosenValue == 'custom'">
            <label>Custom value</label>
            <input class="input-medium" type="text" placeholder="Value..." data-ng-model="task.milestoneValue" />
        </span>
        <label class="radio">
            <input type="radio" data-ng-model="isBefore" value="true" />
            Before
        </label>
        <label class="radio">
            <input type="radio" data-ng-model="isBefore" value="false" />
            After
        </label>
        <label>Milestone</label>
        <select data-ng-model="task.milestoneId" data-ng-options="m.id as m.name for m in milestones" data-ng-disabled="!task.interval">
            <option value="">-- Choose Milestone --</option>
        </select>
    </li>
</ul>
