<li class="task">
    <div>
        <span data-ng-switch="" data-on="task.name">
            <span class="dropdown" data-ng-switch-when="null">
                <a class="dropdown-toggle muted" data-toggle="dropdown">Click to Add a Task</a>
                <ul class="dropdown-menu">
                    <li data-complex-menu="">
                        <div>
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-search"></i></span>
                                <input type="text" placeholder="Filter..." data-ng-model="query" />
                            </div>
                        </div>
                    </li>
                    <li data-ng-repeat="task in available | taskInCategoryFilter:task.categoryId | orderBy:'name' | searchFilter:'name':query">
                        <a data-ng-click="setTask(task)">{{ task.name }}
                            <i class="icon-tag" data-ng-show="task.prebuilt"></i>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#/tasks/edit/?templateId={{templateId}}">Create a Custom Task</a>
                    </li>
                </ul>
            </span>
            <span data-ng-switch-default="">{{task.name}}</span>
        </span>
        | <i class="icon-user"></i>
        <span data-assign-principal="" data-task="task" data-assignables="assignables"></span>
        | <i class="icon-calendar"></i>
        <span class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-ng-switch="" data-on="isDueDateChosen()">
                <span data-ng-switch-when="false" class="muted">Choose Due Date Logic</span>
                <span data-ng-switch-default="">{{task.milestoneValue}} {{intervals[task.interval]}} {{task.isBefore && 'Before' || 'After'}} {{milestone}}</span>
            </a>
            <ul class="dropdown-menu" data-due-date-logic="" data-task="task" data-milestones="milestones"></ul>
        </span>
        <span class="edit-controls" data-ng-hide="newCreated">
            <button class="btn btn-mini" data-ng-click="deleteTask()"><i class="icon-trash"></i></button>
            <a href="#/tasks/edit/?taskId={{task.id}}" class="btn btn-mini">Edit</a>
        </span>
    </div>
    <div data-ng-show="newCreated">
        <button class="btn btn-small btn-success" data-ng-disabled="isNew()" data-ng-click="saveTask()">Save this task</button>
        <button class="btn btn-small btn-link" data-ng-click="deleteTask()">Cancel</button>
    </div>
</li>
