@import "../../variables.less";

.task {
    position: relative;

    .task-checkbox {
        margin: 0;
    }

    .edit-controls {
        position: absolute;
        display: none;
        left: -62px;
        padding-right: 4px;

        &.single-btn {
            left: -28px;
        }
    }

    &:hover .edit-controls {
        display: inline;
    }
}

.allow-overflow {
    overflow: visible;
}
