@model int

<div data-ng-switch data-on="editMode">
    <div class="row-fluid" data-ng-switch-when="false">
        <div class="span8">
            <h1>{{person.name}} <a class="btn btn-link" data-ng-click="changeMode()">edit</a></h1>
            <p>{{person.title}}</p>
            <p><a href="#">{{person.email}}</a></p>
        </div>
        <div class="span4">
            <p>
                <img src="#" alt="Some logo" width="100" />
            </p>

            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">IT Manager Template</strong>
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu nav">
                    <li><a href="#" ng-click="changeSort('az')">Edit Setting</a></li>
                    <li class="divider"></li>
                    <li>
                        <ul class="nav nav-list">
                            <li>Select a Different Template</li>
                            <li>
                                <input type="text" placeholder="Filter..." /></li>
                            <li>
                                <label class="nav-header">Location</label>
                                <ul class="nav nav-list">
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" />
                                            Test 1
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" />
                                            Test 2
                                        </label>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <label class="nav-header">Manager</label>
                                <ul class="nav nav-list">
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" />
                                            Test 1
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" />
                                            Test 2
                                        </label>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <label class="nav-header">Team</label>
                                <ul class="nav nav-list">
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" />
                                            Test 1
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" />
                                            Test 2
                                        </label>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <label class="nav-header">Department</label>
                                <ul class="nav nav-list">
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" />
                                            Test 1
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" />
                                            Test 2
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <ul class="nav nav-list">
                            <li>
                                <button class="btn btn-primary">Apply</button>
                                <button class="btn">Cancel</button></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row-fluid" data-ng-switch-when="true">
        <div class="span4">
            <input type="text" ng-model="person.name" />
            <input type="text" ng-model="person.title" />
            <input type="text" ng-model="person.email" />
        </div>
        <div class="span3">
            <label>Username:</label>
            <input type="text" ng-model="person.credentials.username" />
            <br />
            <a>Send e-mail with login</a>
        </div>
        <div class="span3">
            <label>Password:</label>
            <input type="password" ng-model="person.credentials.password" />
        </div>
        <div class="span2">
            <button class="btn" data-ng-click="changeMode()">Cancel</button>
            <button class="btn btn-primary" data-ng-click="saveGeneralData()">Save</button>
        </div>
    </div>
</div>
<hr />
<div class="row-fluid">
    <div class="span8">
        <p>Company <span class="text-info">(30)</span> - <a href="#">View All</a> </p>
        <ul class="nav">
            <task task="task" ng-repeat="task in person.tasks" />
        </ul>
        <p>
            <a class="btn" href="@Url.Action("OnDemand", "Tasks", new{ id=Model })" >Add New Task <i class="icon-plus"></i></a>
        </p>
    </div>
    <span class="span4">
        <tile person="person" />
    </span>
</div>
