@model int

<div class="row-fluid">
    <div class="span8">
        <h1>{{person.firstName}} {{person.lastName}}</h1>
        <p>{{person.title}}</p>
        <p><a href="#">{{person.email}}</a></p>
    </div>
    <div class="span4">
        <p>
            <img src="#" alt="Some logo" width="80" />
        </p>

        <div class="btn-group dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown">Apply Template <span class="caret"></span></a>
            <ul class="dropdown-menu nav">
                <li complex-menu>
                    <div>
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-search"></i></span>
                            <input type="text" placeholder="Filter..." data-ng-model="templateQuery" />
                        </div>
                    </div>
                    <ul class="unstyled">
                        <li data-ng-repeat="item in templates | orderBy:'isApplied':true | searchFilter:'name':templateQuery">
                            <label class="checkbox">
                                <input type="checkbox" data-ng-model="item.isApplied" data-ng-click="applyTemplate(item)" />
                                {{item.name}}
                            </label>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a href="#tasks" data-toggle="tab"><i class="icon-tasks"></i>Tasks</a></li>
    <li><a href="#activity" data-toggle="tab"><i class="icon-bullhorn"></i>Activity</a></li>
</ul>
<div class="tab-content allow-overflow">
    <div class="tab-pane active" id="tasks" data-ng-switch="" data-on="listView">
        <div class="row-fluid" data-ng-switch-default="">
            <div class="span8">
                <div data-ng-repeat="category in tasks.categories">
                    <h4>{{ category }} <span class="text-info">({{ (tasks.group[category] | taskFilter:filter).length }})</span></h4>
                    <ul class="unstyled">
                        <task task="task"
                            assignables="assignables"
                            details-fn="showTask(task)"
                            delete-fn="deleteTask(task,isNew)"
                            data-ng-repeat="task in tasks.group[category] | taskFilter:filter | orderBy:'due'" />
                    </ul>
                    <ul class="unstyled">
                        <task task="task"
                            available="availableTasks.group[category]"
                            assignables="assignables"
                            save-fn="saveTask(task)"
                            delete-fn="deleteTask(task,isNew)"
                            data-ng-repeat="task in newTasks[category]" />
                    </ul>
                    <p>
                        <button class="btn"
                            data-ng-click="addNewTask(category)"
                            data-ng-show="newTasks[category].length == 0"
                            data-ng-disabled="isAddingTask">
                            Add New Task <i class="icon-plus"></i>
                        </button>
                    </p>
                </div>
            </div>
            <div class="span4">
                <div class="control-group">
                    <tile data-person="person" data-filter="filter.status" data-mode="detail" />
                </div>
                <div class="control-group">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">Show Tasks by Assigned <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li data-complex-menu>
                                <checkbox-filter list="assignees" filter="filter.assignees" value="name" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="control-group">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">View Tasks Due <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li data-complex-menu>
                                <radio-filter list="periods" filter="filter.period" value="func" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid" data-ng-switch-when="false">
            <div class="span8">
                <h4><a data-ng-click="backToList()">Back to Task List</a></h4>
                <ul class="unstyled">
                    <task task="activeTask"
                        available="availableTasks"
                        assignables="assignables"
                        details-fn="showTask(task)"
                        delete-fn="deleteTask(task,isNew)" />
                </ul>
                <p>
                    <strong>Instructions:</strong>
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu est nulla, fringilla adipiscing odio. In tellus nibh, tempor at fermentum sit amet, tempus at odio. Vestibulum lacinia lacus sit amet velit facilisis sed auctor est blandit. Sed ullamcorper pulvinar eleifend. Suspendisse vel ligula orci, eu porta ipsum. Duis in odio id diam tincidunt semper vitae vel sapien. Maecenas sit amet magna ut ante vulputate faucibus.
                </p>
                <p>
                    <button class="btn">Download Form</button>
                    <button class="btn btn-success">Upload Completed Form</button>
                </p>
                <hr />
                <ul class="unstyled">
                    <li class="muted">04/12/13 Viewed by You</li>
                    <li class="muted">04/12/13 Viewed by George Washington</li>
                    <li class="muted">04/12/13 Viewed by Christine Washington</li>
                    <li class="muted">04/12/13 Downloaded by George Washington</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="activity">
        <ul class="unstyled">
            <li class="muted" data-ng-repeat="item in person.activity">{{item.date | date:'MM/dd/yy'}} {{item.name}}</li>
        </ul>
    </div>
</div>
