<div class="tile well tile-{{mode}}" data-ng-click="goToDetails()">
    <ul class="nav nav-list">
        <li>
            <h4>{{name}}
                <span class="badge {{badgeClass}}">{{badgeCount()}}</span>
            </h4>
        </li>
    </ul>
    <ul class="nav nav-list">
        <li data-ng-click="changeFilter('open')" data-ng-class="{active:filter=='open'}"><a>{{entity.open}} Open</a></li>
        <li data-ng-click="changeFilter('overdue')" data-ng-class="{active:filter=='overdue'}"><a>{{entity.overdue}} Overdue</a></li>
        <li data-ng-click="changeFilter('pending')" data-ng-class="{active:filter=='pending'}"><a>{{entity.pending}} Pending</a></li>
        <li data-ng-show="mode == 'detail'" data-ng-click="changeFilter('closed')" data-ng-class="{active:filter=='closed'}"><a>{{entity.closed}} Closed</a></li>
        <li class="divider"></li>
        <li data-ng-click="changeFilter('all')" data-ng-class="{active:filter=='all'}"><a>{{entity.total}} Tasks</a></li>
        <li class="divider"></li>
    </ul>
    <p>
        <a class="btn btn-success">View Details</a>
    </p>
</div>
