<ul class="tile well nav nav-list">
    <li class="nav-header">
        <h3><a href="/employee/index/{{person.id}}">{{person.name}}</a></h3>
    </li>
    <li>
        <ul class="nav nav-list">
            <li>{{person.totalOpen}} Open</li>
            <li>{{person.totalClosed}} Overdue</li>
            <li>{{person.totalOverdue}} Closed</li>
            <li class="divider"></li>
            <li>{{person.totalTasks}} Tasks</li>
            <li class="divider"></li>
        </ul>
    </li>
</ul>
