<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Local" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=Onboarding;Integrated Security=True; MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>