<div class="row-fluid">
    <div class="span8">
        <h1>George Washington</h1>
        <p>IT Department Manager</p>
        <p><a href="#">george@company.com</a></p>
    </div>
    <div class="span4">
        <p>
            <img src="#" alt="Some logo" width="100" />
        </p>

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">IT Manager Template</strong>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="changeSort('az')">Edit Setting</a></li>
                <li class="divider"></li>
                <li><a href="#" ng-click="changeSort('az')">Action 2</a></li>
                <li><a href="#" ng-click="changeSort('az')">Action 3</a></li>
            </ul>
        </div>
    </div>
</div>
<hr />
<div class="row-fluid">
    <div class="span8">
        <p>Company <span class="text-info">(30)</span> - <a href="#">View All</a> </p>
        <ul>
            <li>
                <label class="checkbox">
                    <input type="checkbox" />
                    Fill in W-4 
                    <span class="badge badge-info">George Washington</span>
                    <span class="badge badge-success">05/13/13</span>
                    <span class="badge badge-success">20 days</span>
                </label>
            </li>
            <li>
                <label class="checkbox">
                    <input type="checkbox" />
                    Fill in L-4 
                    <span class="badge badge-info">George Washington</span>
                    <span class="badge badge-success">05/02/13</span>
                    <span class="badge badge-warning">5 days</span>
                </label>
            </li>
            <li>
                <label class="checkbox">
                    <input type="checkbox" />
                    Fill in T-4 
                    <span class="badge badge-info">George Washington</span>
                    <span class="badge badge-success">04/25/13</span>
                    <span class="badge badge-error">-20 days</span>
                </label>
            </li>
        </ul>
        <p>
            <button class="btn">Add New Task <i class="icon-plus"></i></button>
        </p>
    </div>
    <span class="span4">
        <div class="tile">
            <h3>George Washington</h3>
            <p>1 Open</p>
            <p>0 Overdue</p>
            <p>2 Closed</p>
            <p>3 Tasks</p>
        </div>
    </span>
</div>
