@section AltNav
{
    <p>
        <button type="button" class="btn btn-inverse" data-ng-click="open()">
            Add Group <i class="icon-plus"></i>
        </button>
        <div modal="shouldBeOpen" close="close()" options="opts">
            <div class="modal-header">
                <h4>I'm a modal!</h4>
            </div>
            <div class="modal-body">
                This is where the middle goes
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
            </div>
        </div>
    </p>
}

<div class="btn-toolbar">

    <div class="btn-group">
        <a class="btn" ng-class="{disabled:display=='tiles'}" data-ng-click="changeDisplay('tiles')">
            <i class="icon-th-large"></i>
        </a>
        <a class="btn" ng-class="{disabled:display=='list'}" data-ng-click="changeDisplay('list')">
            <i class="icon-align-justify"></i>
        </a>
    </div>

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Sort by: <strong>{{getSortLabel(sort)}}</strong>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#" ng-click="changeSort('az')">Name A-Z</a>
                <a href="#" ng-click="changeSort('za')">Name Z-A</a>
            </li>
        </ul>
    </div>

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Filter By:
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu filter">
            <li>                
                <div>
                    <input name="query"/>
                    <ul>
                        <li>Status</li>
                        <ul>
                            <li ng-repeat="item in summary">
                                <a href="#">{{item.status}} ({{item.count}})</a>                                
                            </li>
                        </ul>
                        <li>Assigned To</li>
                        <ul>
                            <li data-ng-repeat="assignable in assignables">
                                <a href="#">{{assignable.name}}</a>                                
                            </li>
                        </ul>
                        <li>Team</li>
                        <ul>
                            <li data-ng-repeat="team in teams" >
                                <a ng-click="changeFilter('team', $team.id)">{{team.name}}</a>    
                            </li>
                        </ul>
                        <li>Department</li>
                        <ul>
                            <li data-ng-repeat="department in departments" >
                                <a ng-click="">{{department.name}}</a>
                            </li>
                        </ul>
                    </ul>
                    <ul>
                        <li>Sort Items Alphabetically</li>
                    </ul>
                </div>


            </li>
        </ul>
    </div>

</div>



<div data-ng-switch on="display">

    <table class="table table-striped" ng-switch-when="list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Open</th>
                <th>Overdue</th>
                <th>Closed</th>
                <th>Tasks</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in employees">
                <td>{{item.name}}</td>
                <td>{{item.open}}</td>
                <td>{{item.overdue}}</td>
                <td>{{item.closed}}</td>
                <td>{{item.tasks}}</td>
            </tr>
        </tbody>
    </table>

    <div class="span12 tiles" ng-switch-when="tiles">

        <div class="tile" data-ng-repeat="item in employees">
            <h3>{{item.name}}</h3>
            <p>{{item.open.length}} Open</p>
            <p>{{item.overdue.length}} Overdue</p>
            <p>{{item.closed.length}} Closed</p>
            <p>{{item.tasks.length}} Tasks</p>
        </div>


    </div>
</div>

